body {
    background-image: url('Screenshot 2024-10-08 173940.png');
    background-repeat: repeat;
}
p {
    background-color: #FFA500; 
    border: 2px solid #00BFFF; 
    padding: 10px;
    font-size: 1.2em;
    text-align: center;
    color: white; /
}